@(playerName : String, crewMembers : String, kittenImg : String, crew : Array[String])
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <img src=@kittenImg alt="" height="200">
        <img src="/assets/images/vikings.jpg" alt="" height="500">
        <h1>North of England</h1>
        <h3>You have @crewMembers crew members.</h3>
        <p>
            You battle some vikings and everybody dies.
        </p>
        <h3>Living Crew Members:</h3>
        @for(member <- crew){
        <p>@member</p>
        }
        <form action="/start" method="POST">
            @helper.CSRF.formField
            <input type="text" name="playerName" value="@playerName" hidden required>
            <input type="text" name="kitten" value="@kittenImg" hidden required>
            <input type="submit" value="Play Again"/>
        </form>
        <form method="get" action="/">
            <input type="submit" value="New Player">
        </form>
    </body>
</html>